h2{
  margin-left: 1rem;
  margin-top: 2rem;
  color: #BF5CAA  !important;
  text-align: center;
}
h3{
  margin-left: 2rem;
  margin-top: 2rem;
  color: #BF5CAA !important;
}

h1{
  margin-top: 2rem;
  color: #BF5CAA  !important;
  text-align: center;
  margin-right: 5rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #18122B;
}

hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn{
  background-color: #BF5CAA;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: none !important;
  color: #BF5CAA;
  border:2px solid #BF5CAA !important;
}

a{
  color: white;
  text-decoration: none;
}

/* Header */

.navbar-brand {
  color: #BF5CAA !important;
  font-size: 1.8rem;
}

.navbar-nav .nav-link.active {
  color: #BF5CAA !important;
  font-size: 1.25rem;
}
/* Navbar styling */
.navbar-expand-lg {
  background-color:#18122B !important;
}

.navbar {
  background-color: #18122B !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Link styling */
.navbar-nav .nav-link {
  padding-left: 4rem;
  color: #BF5CAA!important;
  font-size: 1.25rem;
  position: relative;
  color: #000;
  text-decoration: none;
}

/* Hover link styling */
.navbar-nav .nav-link:hover {
  color: #BF5CAA!important;
}

.navbar-nav .nav-link span::before {
  content: ''; 
  position: absolute;
  top: 0; /* Position the line at the top */
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: #BF5CAA; 
  transition: width 0.3s ease;
}


.navbar-nav .nav-link:hover span::before {
  width: 100%; 
}



.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar {
  width: 100vw !important;
}

/* home */

.homestarting {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem; 
}

.image-container {
  grid-row: 1 / 2;
  margin-right: 1rem;
  margin-left: 1rem;
}

.socialIcons {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
}

.text-container {
  flex: 1;
  padding: 10px;
}

@media (max-width: 768px) {
  .homestarting {
    flex-direction: column;
  }
  
  .text-container, .image-container {
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 300px;
  }
}

.social-link {
  color: inherit;
  text-decoration: none;
}


.text-container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container h3{
  text-transform: none;
}
.animation {
  height: 50px;
  overflow: hidden;
  margin: 0;
  margin-left: 1rem;
}


.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div,
.second div {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #BF5CAA;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
.text-container {
  color: #C9B6E4;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.text-container p {
  margin-bottom: 0;
}


@media (max-width: 1024px) {
  .homestarting {
    flex-direction: column;
    align-items: center;
  }
  
  .text-container, .image-container {
    text-align: center;
  }
}


/* about page */


#about{
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.homestarting {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}



@media (max-width: 768px) {
  .homestarting {
    flex-direction: column;
  }
  
  .text-container, .image-container {
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 500px;
  }
}

button {
  margin-top: 2rem;
}


.image-container {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.profile-image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .profile-image {
    max-width: 500px;
  }
}

/* Skills component */

#skills{
  margin-bottom: 13rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}


.heading {
  text-align: center;
}

.block {
  width: 15rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #BF5CAA;
  border-radius: 2rem;
  width: calc(30% - 20px);
  margin: 10px;
}

.block + .block {
  margin-left: 20px;
}

.block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100px;
  height: 10px;
  background-color: #fff !important;
  border-radius: 5px;
  margin-left: 10px;
}

.progress {
  height: 100%;
  border-radius: 5px;
  background-color: #BF5CAA !important;
}
.skills{
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .block {
    width: calc(100% - 20px);
  }
}

/* projects */

.projects{
  margin-top: 10rem;
  margin-bottom: 4rem;
}


.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 30rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

.section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.card {
  width: auto;
  height: 20rem;
  position: relative;
  perspective: 1000px;
  border: none;
  margin-right: 1rem;
  background-color: #18122B;

}

.card-text{
  color: #BF5CAA;
}






.card-inner {
  width: 100%;
  height: auto;
  position: absolute;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #BF5CAA;
}

.description {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.card-front,
.card-back {
  width: 100%;
  height: auto;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 0.5rem;
}

.card {
  width: 35rem;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 20rem;
  }
  .description{
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 28rem;
  }
  .description{
    font-size: 1rem;
  }
}



/* MyVerticalTimeLine */

.heading {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-top: 50px; /* Adjust as needed */
}

button {
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 0 10px; /* Add some spacing between buttons */
  color: #BF5CAA ;
  border-color: #BF5CAA;
  background-color: #18122B;
}
button:active{
  color: #C9B6E4;
}
.mySkills{
  text-wrap: wrap !important;
}
.vertical-timeline-element-subtitle{
  color: #BF5CAA;
}

#experience{
  margin-top: 10rem;
}

.vertical-timeline::before {
  background: #18122B !important;
}
.vertical-timeline-element-icon {
  color: #18122B;
}

.vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 0 4px #BF5CAA,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05) !important;
  box-shadow: 0 0 0 4px #BF5CAA,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05) !important;
}


.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #18122B !important;
  color: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #BF5CAA !important;
  box-shadow: 0 3px 0 #BF5CAA !important;
}

/* contact me */
#contact{
  margin-top: 10rem !important;
}


.card {
  flex: 1; 
  max-width: calc(100% - 40px);
}

.contactLink{
  color: #BF5CAA !important;
}
.mb-2{
  color: #BF5CAA;
}
.mb-2.text-muted.card-subtitle.h6{
  color: #BF5CAA !important;
}
.mb-2.text-muted.card-text{
  color: #BF5CAA !important;
}
.card-subtitle{
  color: #BF5CAA !important;
}

.contact-card{
  border: 2px solid #BF5CAA !important;
  margin-top: 1rem;

}

.card-text {
  word-wrap: break-word;
  text-align: center;
}


.form-label{
  color: #BF5CAA;
}

/* CSS for mobile */
@media (max-width: 768px) {
  .big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .cards-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
  }
}

/* CSS for laptop */
@media (min-width: 768px) {
  .big-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .cards-container {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    width: 60%;
    margin-top: 2rem;
  }
}

.custom-input {
  border: 1px solid #BF5CAA;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  background-color: #18122B;
  color: #BF5CAA;
}

.custom-input:focus {
  border-color: #BF5CAA;
  background-color: #18122B;
  color: #BF5CAA;
  box-shadow: 0 0 0 0.2rem rgba(191, 92, 170, 0.4);

}

/* Footer */

.footer{
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-top: 6rem;
  background-color: #BF5CAA;
  align-items: center;
  color: white !important;
}

.links{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footerLinks{
  color: #fca1e8!important;
}
.author{
  color: #fca1e8 !important;
  margin-bottom: 3rem;

}
.copyRight p{
  text-align: center; 
  color: #fca1e8 !important;
  margin-top: 3rem;
}
.iconbutton{
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #fca1e8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

.iconbutton a{
  color: white;
  font-weight: 600;
  font-size: large;
}


/* profile pic animation */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  margin: auto;
  margin-top: 4rem;
  background-color: #BF5CAA;
  background-image: linear-gradient(19deg, #18122B 0%, #18122B 100%);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 10s infinite;
  overflow: hidden;
}

.profile-image {
  max-width:100%;
  max-height: 100%;
}

.image-container:hover {
  animation-play-state: paused;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -5px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
}


@media (max-width: 768px) {
  .image-container {
    width: 100%;
    height: auto;
  }

  .socialIcons {
    text-align: center;
    margin-top: 20px;
  }

  .social-link {
    margin-right: 10px;
    margin-left: 10px;
  }

  .text-container {
    padding: 20px;
  }
}


/*  */